/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Utils */

.cta-btn {
	padding: 10px 30px;
	color: white;
	border: 1px solid white;
	text-transform: uppercase;
	border-radius: 25px;
}

/* Main */

main {
	height: calc(100vh - 150px);
	background-color: aquamarine;
	display: flex;
}


.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px;
	height: calc(100vh - 150px);
	background-color: black;
}

/* Header */

header {
	width: calc(100vw - 50px);
	height: 150px;
	background-color: blueviolet;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

}

/* Footer */

footer {
	height: 150px;
	background-color: #fdfa3a;
}